<a href="https://colab.research.google.com/github/baaikarov/dt-demo-configuration/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
df_companies =pd.read_csv('https://stepik.org/media/attachments/lesson/359209/companies.csv',encoding='utf-8',sep=';')

In [4]:
df_companies

                                  company       income        date
0    ЗАО «Доронин, Колобов и Калашникова»   1221331958  2019-09-09
1                            ООО «Авдеев»  21116804375  1972-12-21
2                  РАО «Аксенов Сорокина»  79257158759  2007-03-05
3                  Ларионов Инкорпорэйтед  36799366126  2011-08-11
4                 Григорьев Инкорпорэйтед  48201837498  1989-09-02
..                                    ...          ...         ...
288                            Сэтл групп   6152279994  2004-03-30
289                  ОАО «Горшков Чернов»  26623978007  2004-03-30
290                          НПО «Фадеев»  84314056422  1998-09-03
291                    Петролеум Трейдинг  95528839292  1975-01-31
292                         ОАО «Жданова»  40620723709  2016-04-19

[293 rows x 3 columns]